<!DOCTYPE html>
<html>
<head>
<title>Cart</title>

<style>
body { font-family:'Segoe UI'; background:#f8f9fa; padding:20px; }

.card {
    background:white;
    padding:15px;
    border-radius:10px;
    margin-bottom:10px;
}

button {
    background:#0c831f;
    color:white;
    padding:10px;
    border:none;
    border-radius:8px;
    width:100%;
}
</style>
</head>

<body>

<h2>🛒 Your Cart</h2>

{% for item in cart %}
<div class="card">
    {{item.name}} x {{item.qty}}  
    <br> ₹{{item.price * item.qty}}
</div>
{% endfor %}

<h3>Total: ₹{{total}}</h3>

<a href="/checkout">
    <button>Proceed to Checkout</button>
</a>

</body>
</html>