<!DOCTYPE html>
<html>
<head>
<title>Products</title>

<style>
body { font-family:'Segoe UI'; background:#f8f9fa; }

.grid {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
    gap:15px;
    padding:20px;
}

.card {
    background:white;
    padding:15px;
    border-radius:12px;
    text-align:center;
}

button {
    padding:8px 12px;
    border:none;
    border-radius:8px;
    background:#0c831f;
    color:white;
}
</style>
</head>

<body>

<h2 style="padding:20px;">🛍️ Products</h2>

<div class="grid">

{% for p in products %}
<div class="card">

    <img src="{{p.img}}" width="100">

    <h3>{{p.name}}</h3>
    <p>₹{{p.price}}</p>

    {% if p.qty == 0 %}
        <a href="/update_cart/{{p.id}}/increase">
            <button>ADD</button>
        </a>
    {% else %}
        <div style="display:flex; justify-content:center; gap:10px;">

            <a href="/update_cart/{{p.id}}/decrease">
                <button>-</button>
            </a>

            <b>{{p.qty}}</b>

            <a href="/update_cart/{{p.id}}/increase">
                <button>+</button>
            </a>

        </div>
    {% endif %}

</div>
{% endfor %}

</div>

<a href="/cart" style="position:fixed; bottom:20px; right:20px;">
    🛒 Cart
</a>

</body>
</html>